/* max */
.listStyle {
  background-color: #04aa6d;
  display: flex;
  list-style: none;
  width: "100%";
  padding-top: 0px;
  padding-bottom: 0px;
}
.listMainContainer{
  position: fixed;
  width: 100%;
  top:0px;
  left: 0px;
  height:60px;
  box-shadow: 1px 1px 10px 0px gray;
  z-index: 999;
  transition: 0.5s;
 
}
.listname {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  /* background-color:white; */
}


.listContainer {
  background-color: #04aa6d;
}

#media {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
  text-align: center;
  margin-top: 2px;
}

#media-options {
  display: none;
  position: absolute;
  border-radius: 5px;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
  top: 60px;
  padding-left: 20px;
  padding-right: 20px;
}

#media-options li {
  list-style: none;
  padding: 10px 0px;
}

#media:hover #media-options {
  display: block;
}

#checkbtn {
  float: right;
  line-height: 90px;
  color: #04aa6d;
  display: none;
}

.applogo{
height: 80px;
width: 160px;
}

@media (max-width: 600px) {
  .listMainContainer {
    display: flex;
    /* overflow: hidden;
    box-sizing: inherit; */
  }
  .applogo{
    margin-left: 0 !important;
  }
}

.listMainContainer {
  background-color:white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  /* background-color: rebeccapurple; */
}

/* mobloi */
.navbarHideShow {
  background-color: black;
  padding-left: 20px;
  padding-right: 20px;
  list-style: none;
  border-width: 2px;
  display: none;
}

.navbarHideShow ul li a {
  color: black;
  /* background-color: rebeccapurple; */
  /* display: block; */
  border-width: 2;
  border-color: red;
}

.booktext {
  color: black;
  text-decoration: none;
  font-size:19px;
  font-weight: 500;
}
.bookappointTextcolor{
  color:white;
  text-decoration: none;
  font-size:19px;
  font-weight: 500;

}
#photoscontainer {
  /* background-color: #04AA6D; */
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding-right: 20px;
}
.dotContainer {
  height: 5px;
  width: 5px;
  border-radius: 10px;
  background-color: red;
}
.salonfinder {

  height: 25px; 
 width: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #323232;
  padding: 4px;
}
.menu_icon{
  position: absolute;
  right: 19px;
  display: none;
  top: 35px;

}
.menu_icon img{
  width: 30px;
  height: 30px;
}
@media screen and (max-width:600px) {
  .listname{
    flex-direction: column;
    display: block;
    margin-right: 20px;
    width: 100%;
    margin-top: 94px;
    position: absolute;
    top:0px;
    background-color: white;
  }
  .listMainContainer{
    flex-direction: column;
    align-items: start;
    
  }
  .menu_icon{
    display: block;
  }
  .mobile{
    display: none;
    border-bottom: 1px solid red;
  }
  .applogo{
    height: 80px;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 24px;
    }
    .listname li {
      border-bottom: 1px solid #ccc; /* Add a border at the bottom of each list item */
      padding-bottom: 10px; /* Add some padding to create space between the border and text */
  
    }
    .listname :last-child {
      border-bottom: none;
      padding-bottom:0px;
    }
    .mediaicontext{
      display: flex;
      width: 100%;
      /* justify-content: space-between; */
    }
    #media:hover #media-options {
      display: none;
    }
    #media-options li {
      list-style: none;
      padding: 10px 0px;
      color:#000000;
    }
}
/* .listname li :hover{
  color:black;
  font-weight: 600;
  font-size: 18px;

} */
.listname li {
/* font-size: 20px;
font-weight: 500; */
/* font-weight: 600; */
}

.desktop{
  justify-content: center;
  display: flex;
width: 100%;
background-color: white;




}
/* .mediaicontext{
  display: flex;
} */

.accordion {
  background-color: #eee;
  /* color: #444; */
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc; 
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}
.mobileviewmedia{
  display: none;
}
@media (max-width: 600px) {
  .mobileviewmedia {
    display: block;  
    background-color:white;
  }
  #media{
    display: none;
  }
  #media-options{
    display: block;
    position:unset;
    border-radius: unset;
    background-color: white;

  }

  .salonfinder{
    border-bottom: 1px solid goldenrod;
    margin-top: 10px;

    
  }
}
.bookappointmentHeader{
  background: transparent;
  /* background-color: rebeccapurple; */
}
.mediatext{
  color: #000000;
  font-weight: 600;
  font-size: 18px;
}
.bookappointmedia{
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
}
.bookappointmentBackground{
  background-color: white;
}
.bookappointmenttextscroll{
  color: #000000;
  font-weight: 600;
  font-size: 18px;

}
