.imgtextContainer{
    display: flex;
}
.mainContainer{

    padding-left: 150px;
    padding-right: 250px;
}
.namediscption{
    margin-left: 50px;
}
@media screen and (max-width:768px) {
    .imgtextContainer{
        display: block;
        
    }
    .aboutcontainer{
      margin: 0px !important;
      display: block !important;
      padding: 0 20px !important;
    }
    .namediscption{
      margin-left: 0;
    }
   }

.aboutustext{
    /* margin: 10px auto 15px; */
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    max-width: 700px;
    color: #323232;
  }
  .whowearetText{

    font-size: 42px;
    font-weight: 500;
    color: #323232;
font-family: Poppins;
  }
  .my-button{
    /* background-color:white; */
    /* color: #fff; */
    padding: 6px 60px;
    border: none;
    border-radius: 5px solid black;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-bottom: 40px;
  }
  .knowmoreText{
    color: #323232;
  }


/* Medium devices (tablets, 601px and up to 1500px) */
@media screen and (min-width: 601px) and (max-width: 1200px) {
  .saloniconimg {
      width: 100%; /* Or any percentage value according to your design preference */
      margin-top: 21px;
  }
}

/* Small devices (phones, 600px and below) */
@media screen and (max-width: 600px) {
  .saloniconimg {
      width: 100%; /* Taking full width of the container */
      height: auto; /* Maintain aspect ratio */
      margin-top: 21px;
  }
  .aboutustext{
    /* margin: 10px auto 15px; */
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    max-width: 600px;
    color: #323232;
  }
}
@media screen and (min-width: 600px) and (max-width: 1200px) {
  .imgtextContainer {
    display: unset;
  }
}



