.listcontainer li{
    list-style: none;
    /* display:flex; */
    display: block;
    color: white;
    text-decoration: none;

}
.listcontainer{
    display:flex;
    gap:20px;
    /* font-size: 0px; */
    /* background-color:rebeccapurple; */
    align-items: center;
    justify-content: center;
    

}
.listcontainer a{
    text-decoration:none;
}

.iconcontainer li{
    list-style: none;
    display:flex;

}
.iconcontainer{
    display:flex;
    gap:20px;
    /* background-color:rebeccapurple; */
    justify-content:center;
    align-items:center;
}
.iconcontainercarrer{
    display:flex;
    gap:20px;
    /* background-color:rebeccapurple; */
    justify-content:center;
    align-items:center;

}
.iconcontainercarrer li{
    list-style: none;
    color: white;
}
.iconcontainer a :hover{
    /* color: red; */
    /* color: forestgreen; */
}
/* .iconcontainer>a #facebook svg :hover{
    fill: blue;
}
#facbook{
 background-color: blue;
} */
.istcontainerprivacy{
    font-size: 20px;
    font-weight: 500;
}